@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Vidaloka&display=swap');

:root{
  
    --cor0: #74f066;
    --cor1: #4C1036;
    --cor2: #992F72;
    --cor3: #991167;
    --cor4: #694391;

    --tem: '\00A0\2714\00A0\00A0';
    --não-tem: '\274C\00A0';
}

*{
    padding: 0px;
    margin: 0px;
}

body{
    background-image: linear-gradient(to bottom, #694391, #3a284e) ; 
    min-width: 150px;
    min-height: 1000px;
}

header{
    background-image: url('../imagem/54-01-22-125437.png');
    padding: 7px;
    border-bottom: 8px solid rgba(0, 0, 0, 0.719);
}

header h1{
    font-family: 'Vidaloka', serif;
    text-align: center;
    padding-top: 20px;
    font-size: 64px;
    color: white;
}

header h2{
    font-family: 'Vidaloka', serif;
    text-align: center;
    font-size: 32px;
    color: white;
}

header p{
    color: whitesmoke;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
}

main{
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    max-width: 800px;
    margin: auto;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.315);
    border-top: 1px solid white;
}
main > h1{
    text-align: center;
    padding: 8px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family:'Vidaloka', serif;;
}

main h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
    padding-left: 15px;
    margin-left: 10px;
    background-image: linear-gradient(to right, var(--cor0), transparent 50%);
    border-radius: 17px;
    font-size: 28px;
    font-weight: normal;
}

aside ul{
    columns: 2;
    list-style-position: inside;
    list-style-type: var(--não-tem);
    padding: 7px;
}

.acai {
    list-style-type: var(--tem);
}

.cupuaçu {
    list-style-type: var(--tem);
}
.ninho {
    list-style-type: var(--tem);
}

.ninho t {
    list-style-type: var(--tem);
}
 
.guarana {
    list-style-type: var(--tem);
}

.morango {
    list-style-type: var(--nao-tem);
}

.chocomalte {
    list-style-type: var(--tem);
}

.tapioca {
    list-style-type: var(--nao-tem);
}

#valores {
    margin-left: 35px;
}

.dinheiro {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
    padding-left: 15px;
    margin: 10px;
    background-image: linear-gradient(to right, var(--cor0), transparent 50%);
    border-radius: 17px;
    font-size: 20px;
    font-weight: normal;
}

footer{
    text-align: center;
    background-color: white;
    text-justify: auto;
    border-radius: 16px;
    padding: 5px;
    margin: auto;
    margin-top: 32px;
    box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.315);
    max-width: 600px;
}

footer p{
    font-size: 16px;
    font-weight: bold;
    color: #000000;
    
}

footer a{
    color: #1212e6;
    font-weight: bold;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
}

.insta{
    height: 20px;
    margin: auto;
}