@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Vidaloka&display=swap');

:root{
  
    --cor0: #109902;
    --cor1: #4C1036;
    --cor2: #992F72;
    --cor3: #991167;
    --cor4: #694391;
}

*{
    padding: 0px;
    margin: 0px;
}

body{
    background-image: linear-gradient(to bottom, #694391, #3a284e) ; 
    min-width: 150px;
    min-height: 1000px;
}

header{
    background-image: linear-gradient(to bottom, #694391, #3a284e) ; 
    border-bottom: 1px solid rgb(228, 211, 211);
}

header h1{
    font-family: 'Vidaloka', serif;
    text-align: center;
    padding: 5px;
    font-size: 64px;
}

header h2{
    font-family: 'Vidaloka', serif;
    text-align: center;
    padding: 5px;
    font-size: 32px;
}

main{
    background-color: white;
    min-width: 150px;
    max-width: 800px;
    margin: auto;
}
main > h1{
    text-align: center;
    padding: 5px;
    
}



